@font-face {
  font-family: "Boots And Spurs";
  src: url("fonts/BootsAndSpurs.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto/Roboto-Regular.ttf");
}

nav ul {
  padding: 0px;
}

nav li {
  display: inline-block;
}

header,
footer {
  background-color: #202020;
  color: #fff;
}

/* Links */
a {
  text-decoration: none;
}

header a {
  color: #fff;
}

h1,
h2,
.logo {
  font-family: "Boots And Spurs", Verdana, Geneva, Tahoma, sans-serif;
}

body {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

.product-list h2 {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

p {
  font-family: "Roboto";
}

.header_logo {
  background-image: url("images/home-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  min-height: 70vh;
}

.cta {
  background-color: #bb0000;
  color: #fff;
  font-size: 1.5em;
  font-family: "Roboto";
  text-transform: uppercase;
  padding: 10px 80px;
  border-radius: 5px;
}

.cta-small {
  padding: 8px 30px;
  font-size: 0.8em;
}

.current {
  text-decoration: underline;
}

.reviews {
  background-color: #e8e8e8;
}

.featured--products {
  background-color: #fbfbfb;
}

.cta-sale {
  background-color: #127300;
}

.review_images {
  border-radius: 50%;
}

.guitar_image {
  border-radius: 100px;
}

footer {
  text-align: center;
}

/* Contact page */
input,
select,
textarea {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
}
